# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS metadata & Office temp files
.DS_Store
Thumbs.db
~$*
